.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background-image: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1, p {
  color: rgb(241, 61, 61);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.heading {
  display: flex;
  justify-content: center;
}



/* in your CSS file */
.home-button, .favorites-button {
  display: inline-block;
  padding: 10px 20px;
  margin: 5px;
  background-color: #9c7070; /* Example color */
  color: white;
  text-decoration: none;
  border-radius: 5px;
  border: 2px solid rgb(222, 210, 210);
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: bold;
  font-size: 1.5em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.home-button:hover {
  background-color: #842626; /* Example hover color */
}

.home-button:active {
  background-color: #004085;
  transform: scale(0.95); /* This makes the button shrink a bit when clicked */
}

.favorites-button:active {
  background-color: #004085;
  transform: scale(0.95); /* This makes the button shrink a bit when clicked */
}


.home {
  display: flex;
  justify-content: center;
  margin: 20px
}